<div class="grid-container five">
    
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item" id="grid-item1">
        <img src="/assets/images/images.jpg" alt= "" class="burger-pic"> 
    
    </div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
</div>
<div class="grid-container one"></div>
    <div class="grid-item" id="grid-item2">
        <h1 class="heading-title">Eat-da-Burger!</h1>
    </div>

       

</div>
<div class="grid-container five">
   
    <div class="grid-item"></div>
    <div class="grid-item" id="grid-item3">
        
            <form class="create-form" id="burgerform" method="POST">
                
                <label for="fname">What burger would you like? </label>
                <input type="text" id="fname" class="form-input" name="fname">
                <input type="submit" value="Submit">

            </form>

        </div> 
</div>
<div class="grid-container">
   
    <div class="grid-item"></div>
    <div class="grid-item" id="grid-item4">
         <h3>Burgers to eat:</h3>
        <ul>
            {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/unless}}
            {{/each}}
        </ul>       
    <div class="grid-item" id="grid-item5">
         <h3>Burgers devoured:</h3>
        <ul>
            {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/if}}
            {{/each}}
        </ul>
    </div>

    </div> 
</div>

